.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-bottom: 5px;
}

.header_menu {
  padding: 0px 37px 0px 50px;
  text-underline-offset: 4px;
  font-size: 18px;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link_active {
  text-decoration: none;
}

.header_links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header_logo {
  padding: 5px 0px 0px 9px;
  width: 148px;
  height: 114px;
}

.header_logo-image {
  width: 133px;
  height: 103px;
}

.address {
  display: flex;
  font-style: normal;
  font-size: 18px;
  gap: 3px;
  flex-direction: column;
}

.header_address_place {
  padding: 95px 87px 100px 0px;
  justify-self: flex-end;
}

.contacts_item_underline {
  text-underline-offset: 4px;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 106px;
  justify-content: flex-end;
  min-height: 757px;
  position: relative;
  z-index: 1;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_title {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 115px;
  color: #ffffff;
  font-size: 100px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover_description {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
}

.cover_description-text {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.button {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  width: 256px;
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
}

.lots_heading {
  margin: 180px 0px 0px 63px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-underline-offset: 4px;
}

.lots_card-list {
  margin: 28px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 25px;
  list-style: none;
  color: white;
  text-underline-offset: 4px;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
  margin-bottom: 31px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card_title {
  padding: 48px 40px 0px 40px;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  font-size: 20px;
  margin: 0px 40px 48px 40px;
  z-index: 2;
}

.lots_look-more-link {
  margin: 40px 102px 0px 64px;
  font-size: 20px;
  text-decoration: underline;
  color: black;
  text-underline-offset: 4px;
}

.about {
  margin: 120px 24px 0px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "logo title title"
    ". paragraphs paragraphs";
}

.about_column {
  justify-self: center;
  padding: 33px 16px 0px 0px;
}

.about_logo {
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  grid-area: title;
  font-size: 40px;
  width: 291px;
  text-transform: uppercase;
  align-content: center;
  margin: 50px 8px 6px;
}

.about_text {
  grid-row: 2;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: 27px;
  font-size: 20px;
  grid-area: paragraphs;
  margin: 10px 0px 0px 9px;
  max-width: 688px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  padding: 180px 50px 82px 50px;
}

.footer_menu {
  text-align: center;
}

.footer_menu-list {
  list-style: none;
  font-size: 18px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_menu-link {
  text-underline-offset: 4px;
}

.footer_social-list {
  display: flex;
  width: 240px;
  gap: 48px;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 94px;
  list-style: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
